name: Upload Python Package

# on:
#  release:
#    types: [published]

on:
  push:
    branches:
      - test-pypi

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
    - name: Build package
      run: |
        poetry env use `which python3.8`
        poetry build
    - name: Publish package
      run: |
	poetry config http-basic.pypi "__token__" ${{ secrets.PYPI_API_TOKEN }}
        poetry publish
